<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid ">

    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #0a4275;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">
                            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/tamalsen2509"
                                target="_blank" rel="noopener noreferrer" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>

                            <!-- Github -->
                            <a class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer"
                                href="https://www.linkedin.com/in/knowmetamal/" role="button"><i
                                    class="fab fa-github"></i></a>
                        </span>
                    </p>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2020 Copyright:
                        <a rel="noopener noreferrer" target="_blank" class="text-white"
                            href="https://mdbootstrap.com/">MDBootstrap.com</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        Special credit to
                        <a class="text-white" href="https://www.learnweb3.io/" target="_blank"
                            rel="noopener noreferrer">LearnWeb3</a>
                    </div>
                </div>
            </div>

            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>

</div>
<!-- End of .container -->